<nav class="navbar navbar-expand-lg"> <!--navbar-dark bg-dark-->
    <div class="container">
        <a href="/" class="navbar-brand">Mathews</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar"
            aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="myNavbar">
            <nav class="navbar-nav">
                <ul class="nav">
                    <li class="nav-item"><a href="/" class="nav-link" id="homeLink">Home</a></li>
                    <li class="nav-item"><a href="/calendar" class="nav-link" id="calendarLink">Calendar</a></li>
                    <li class="nav-item"><a href="/chat" class="nav-link" id="chatLink">Chat</a></li>
                    <li class="nav-item"><a href="/video" class="nav-link" id="videoLink">Video</a></li>
                    <li class="nav-item"><a href="/gallery" class="nav-link" id="galleryLink">Gallery</a></li>
                </ul>
            </nav>
        </div>
    </div>
</nav>