body {
    background-color: #212529;
    color: #ffffff;
    font-family: 'Comic Sans MS', sans-serif;
}

td {
    color: #ffffff;
    width: 10%;
    border-radius: 5px;
}

tbody tr {
    height: 175px;
}

tbody td span {
    border-radius: 5px;
}

a {
    color: white;
    text-decoration: none;
}

.today {
    background-color: yellow !important;
    color: black;
}

.today span {
    border: 1px solid black;
}

#chevron {
    font-size: 2rem;
}

#photoBanner {
    height: 200px;
}

#photoBanner img {
    border-radius: 5px;
}

#messDiv {
    height: 500px;
}

#messages {
    vertical-align: bottom;
    height: 100%;
}

#messages.li {
    display: inline-block;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.myImg img {
    border-radius: 15px;
}

#form {
    background: #212529;
    padding: 0.25rem;
    margin-bottom: 50px;
    /* position: absolute; */
    position: fixed;
    bottom: 0;
    left: 33%;
    right: 33%;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 15px;
}

#form>button {
    background: #333;
    border: none;
    /* padding: 0 1rem; */
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
    width: 10%;
}


#messages {
    margin: 0;
    padding: 0;
}

#messages>li {
    /* padding: 0.5rem 1rem; */
    padding: 0;
}

/* #messages>li:nth-child(odd) {
    background: #efefef;
} */

#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
    width: 90%;
}

#input:focus {
    outline: none;
}

::selection {
    color: white;
    background-color: #772CE8;
}