<%= layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-12">
            <div id="calendar">
                <div class="card bg-dark">
                    <div class="row no-gutters">
                        <div class="col-1">
                            <div class="d-inline-block" id="previousMonth"><span class="visually-hidden">Previous
                                    month</span><i class="bi bi-chevron-left" id="lefthevron"></i></div>
                        </div>
                        <div class="col-10 text-center d-inline-block bg-dark">
                            <h3 id="monthYearHeading" class="d-inline-block">
                                <span id="month"></span> <span id="year"></span>
                            </h3>
                        </div>
                        <div class="col-1">
                            <div class="d-inline-block" id="nextMonth"><span class="visually-hidden">Next
                                    month</span><i class="bi bi-chevron-right" id="rightChevron"></i></div>
                        </div>
                    </div>
                    <table class="table table-borderless">
                        <thead class="text-white">
                            <tr class="text-center">
                                <th scope="col">Sunday</th>
                                <th scope="col">Monday</th>
                                <th scope="col">Tuesday</th>
                                <th scope="col">Wednesday</th>
                                <th scope="col">Thursday</th>
                                <th scope="col">Friday</th>
                                <th scope="col">Saturday</th>
                            </tr>
                        </thead>
                        <tbody id="tblBody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-12"></div>
    </div> -->
    <% if (month && year) { %>
        <script>
            let month = '<%= month %>'
            let year = '<%= year %>'
        </script>
        <% } %>
            <% if (events) { %>
                <script>
                    // console.log(`No dates`);
                    let events = JSON.parse(`<%- events %>`);
                </script>
                <% } %>