<%= layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-3 myImg d-none d-md-block">
            <img src="img/porsche1.jpg" alt="" srcset="" class="img-fluid mb-4">
            <img src="img/porsche2.jpg" alt="" srcset="" class="img-fluid mb-4">
            <img src="img/porsche3.jpg" alt="" srcset="" class="img-fluid mb-4">
            <img src="img/porsche4.jpg" alt="" srcset="" class="img-fluid mb-4">
        </div>
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-6 mb-5">
                    <p class="lead">Functionality coming as soon as I can figure it out.</p>
                    <ul id="messages" class="list-group"></ul>
                    <form id="form" action="">
                        <div class="input-group mb-3">
                            <label for="input" class="form-label visually-hidden">Chat input</label>
                            <input id="input" autocomplete="off" name="input" class="form-control"
                                aria-label="Chat input"><button class="text-center"><span
                                    class="d-none d-xxl-inline">Send</span>
                                <span class="d-xxl-none"><i class="bi bi-chat-left-dots"></i></span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-3 myImg d-none d-md-block">
            <img src="img/porsche4.jpg" alt="" srcset="" class="img-fluid mb-4">
            <img src="img/porsche3.jpg" alt="" srcset="" class="img-fluid mb-4">
            <img src="img/porsche2.jpg" alt="" srcset="" class="img-fluid mb-4">
            <img src="img/porsche1.jpg" alt="" srcset="" class="img-fluid mb-4">
        </div>
    </div>
    <script src="js/chat.js"></script>