<%= layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-3 myImg d-none d-md-block">
            <img src="img/porsche1.jpg" alt="" srcset="" class="img-fluid mb-4">
            <img src="img/porsche2.jpg" alt="" srcset="" class="img-fluid mb-4">
            <img src="img/porsche3.jpg" alt="" srcset="" class="img-fluid mb-4">
            <img src="img/porsche4.jpg" alt="" srcset="" class="img-fluid mb-4">
        </div>
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12 mb-5">
                    <p class="lead">Better functionality coming as soon as I can figure it out.</p>
                    <ul id="messages" class="list-group"></ul>
                    <form id="form" action="">
                        <input id="input" autocomplete="off" /><button class="text-center"><span
                                class="d-none d-xxl-inline">Send</span>
                            <span class="d-xxl-none"><i class="bi bi-chat-left-dots"></i></span></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-3 myImg d-none d-md-block">
            <img src="img/porsche4.jpg" alt="" srcset="" class="img-fluid mb-4">
            <img src="img/porsche3.jpg" alt="" srcset="" class="img-fluid mb-4">
            <img src="img/porsche2.jpg" alt="" srcset="" class="img-fluid mb-4">
            <img src="img/porsche1.jpg" alt="" srcset="" class="img-fluid mb-4">
        </div>
    </div>