<%= layout('layouts/boilerplate') %>
    <div class="row" id="photoBanner">
        <div class="col-12" id="bannerPhotos"><img src="img/testBanner.png" alt="Family" srcset="" class="img-fluid">
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-1 mb-3">The Mathews family</h1>
        </div>
        <div class="col-3 myImg d-none d-md-block">
            <img src="img/porsche1.jpg" alt="" srcset="" class="img-fluid mb-4">
            <img src="img/porsche2.jpg" alt="" srcset="" class="img-fluid mb-4">
            <img src="img/porsche3.jpg" alt="" srcset="" class="img-fluid mb-4">
            <img src="img/porsche4.jpg" alt="" srcset="" class="img-fluid mb-4">
        </div>
        <div class="col-12 col-md-6">
            <p>
                This is our family site. Created to share and view our family stories, videos, and pictures.
            </p>
            <h2 class="display-3">Upcoming dates</h2>
            <p>Here are some important dates that are coming up.</p>
            <!-- ejs loop over dates display as cards infinate scroll -->
            <% dates.forEach( date=> { %>
                <div class="card mb-1">
                    <div class="card-header bg-dark">
                        <!-- Title of the date -->
                        <%= date.dateData.date %>
                    </div>
                    <div class="card-body bg-dark">
                        <%= date.dateData.data %>
                    </div>
                </div>
                <% }); %>
        </div>
        <div class="col-3 myImg d-none d-md-block">
            <img src="img/porsche4.jpg" alt="" srcset="" class="img-fluid mb-4">
            <img src="img/porsche3.jpg" alt="" srcset="" class="img-fluid mb-4">
            <img src="img/porsche2.jpg" alt="" srcset="" class="img-fluid mb-4">
            <img src="img/porsche1.jpg" alt="" srcset="" class="img-fluid mb-4">
        </div>
    </div>
    <script src="js/home.js"></script>